
@{
    Layout = "_Layout";
    ViewBag.Image = "url('/images/bg_1.jpg')";
    ViewBag.Title = "Recipes";
    ViewBag.PageName = "Recipes";
}

<div class="col-md-12 dish-menu">

    <div class="tab-content py-5">
        <div class="tab-pane fade show active">
            <div class="row">
                <div class="col-lg-6">
                    <a asp-action="DisplayPage">
                        <div class="menus d-flex ftco-animate fadeInUp ftco-animated">
                            <div class="menu-img" style="background-image: url('/images/Home/dish_1.jpg')"></div>
                            <div class="text d-flex">
                                <div class="one-half">
                                    <h3>Scrambled Egg-Stuffed Potatoes</h3>
                                    <p><span>Eggs</span>, <span>Potatoes</span>, <span>Peppers</span>, <span>Tomatoes</span></p>
                                </div>
                            </div>
                        </div>
                    </a>
                    <div class="menus d-flex ftco-animate fadeInUp ftco-animated">
                        <div class="menu-img" style="background-image: url('/images/Home/dish_3.jpg')"></div>
                        <div class="text d-flex">
                            <div class="one-half">
                                <h3>Shaved Asparagus Salad</h3>
                                <p><span>Salad</span>, <span>Asparagus</span></p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="menus d-flex ftco-animate fadeInUp ftco-animated">
                        <div class="menu-img" style="background-image: url('/images/Home/dish_2.jpg')"></div>
                        <div class="text d-flex">
                            <div class="one-half">
                                <h3>Vegetable-Quinoa Skillet With Cheese</h3>
                                <p><span>Quinoa</span>, <span>Salad</span>, <span>Cheese</span>, <span>Tomatoes</span></p>
                            </div>
                        </div>
                    </div>
                    <div class="menus d-flex ftco-animate fadeInUp ftco-animated">
                        <div class="menu-img" style="background-image: url('/images/Home/dish_4.jpg')"></div>
                        <div class="text d-flex">
                            <div class="one-half">
                                <h3>17 Tasty Ways to Cook With Melon</h3>
                                <p><span>Melon</span></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>